$bpDesktop: 1440px;
$bpLaptop: 1199px;
$bpTablet: 991px;
$bpMobile: 768px;
$bpPhone: 550px;

// set font
$baseFont: "Roboto", "Arial", sans-serif;
$montFont: "Montserrat", "Arial", sans-serif;

// set setting color
$pageColor: #fff;
$primaryColor: #333333;
$purpleColor: #CB10AB;
$grayColor: #626262;
